*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
}
.container {
    background-color: hsl(0, 0%, 100%);
    width: 650px;
    padding: 30px;
    margin: 40px 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 600px;
    border-radius: 8px;
    margin-bottom: 25px;
}
h1{
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.b2{
    margin-top: 55px;
    border-radius: 8px;
    background-color: hsl(30, 54%, 90%);
    padding: 15px 30px;
}
.b2 h3{
    color: hsl(332, 51%, 32%);
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-left: -10px;
}
.b2 li {
    line-height: 30px;
}
.b3{
    margin-top: 30px;
}
.b3 h3{
    font-size: 1.6rem;
    color: hsl(14, 45%, 36%);
}
.b3 ul{
    margin: 10px 20px;
    line-height: 23px;
    padding-bottom: 10px;
}

.b4{
    margin: 40px 0;
}
.b4 h3{
    font-size: 1.6rem;
    color: hsl(14, 45%, 36%);
    padding-bottom: 15px;
}
.b4 ol{
    margin-left: 20px;
    line-height: 28px;   
    padding-bottom: 20px; 
}


.b5 h3{
    color: hsl(14, 45%, 36%);
    font-size: 1.6rem;
    margin: 20px 0;
}
.b5>p {
    padding: 20px 0;
}
/* .tab{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.tab p{
    display: flex;
    justify-content: space-between
    ;
    margin-bottom: 5px;
    line-height: 33px;
}
.tab p>span:first-child{
    padding: 5px 20px;
}
.tab p>span:nth-child(2){
    padding-right: 200px;
    
} */

.tab{
    display: flex;
    justify-content: space-between;
}
.tab section:nth-child(3){
    padding-right: 350px;
}


@media screen and (max-width: 568px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
        margin: 0;
        border-radius: 0;
        padding: 0 40px;
    }
    img{
        width: 100vw;
        border-radius: 0;
    }
    .b1 h1{
        text-align: left;
        
    }
    .b2, .b3, .b4{
        max-width: 350px;
    }
    .tab p>span:first-child{
        padding: 5px 10px;
    }    
    .tab p>span:nth-child(2){
        padding-right: 60px;
    }
    
}