* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
.btn {
    text-align: center;
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


body {
    background-color: hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    padding: 3rem;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2.1rem 2.1rem 0 2.1rem;
    border-radius: 5px;
}
header > h3 {
    font-size: 1.8rem;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    padding-bottom: 1.8rem;
}

header > h2 {
    font-size: 1.35rem;
    padding-bottom: 1.8rem;
    color: hsl(71, 73%, 54%);
    line-height: 1.5;
}

header > p{
    line-height: 1.7;
    color: hsl(218, 22%, 67%);
    font-size: 1.25rem;
    padding-bottom: 1.8rem;
}

main {
    background-color: hsl(179, 62%, 43%);
    margin: 0 -2.1rem;
    padding: 2.1rem;
}

.sub-mon {
    color: #fff;
    font-size: 1.68rem;
    padding-bottom: 1.8rem;
    font-weight: 700;
}

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.price {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
}

.payment-details {
    display: block;
    margin-left: 1.2rem;
    font-size: 1.47rem;
    font-weight: 400;
    color: hsl(204, 43%, 93%);
    opacity: .5;
}

.payment-brief {
    justify-content: center;
    padding: 1.8rem 0;
    color: #fff;
}

.btn-sgn-up {
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    width: 100%;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: hsl(71, 73%, 54%);
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

footer {
    background-color: rgb(0 196 190);
    margin: 0 -2.1rem;
    padding: 2.1rem;
    max-height: 100%;
}

.container footer h2 {
    color: #fff;
    padding: 1.8rem 0;
    font-size: 1.68rem;
    font-weight: 700;
}

.container footer ul li {
    padding: .2rem 0;
    color: #fff;
    opacity: .7;
}

@media (max-width:767px) {
    .container {
        max-width: 311px;
    }
}

@media (min-width:768px) {
    body {
        justify-content: center;
        align-items: center;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 653px;
        flex-direction: row;
    }
    footer,
    .details {
        width: 326.5px;
    }
    footer {
        margin-left: 2.1rem;
    }
}